:root {
	--background: white;
	--font: black;

	--size0: 0.786rem;
	--size1: 1rem;
	--size2: 1.272rem;
	--size3: 1.618rem;
	--size4: 2.058rem;

	color: var(--font);
}

/* Auto dark theme */

@media (prefers-color-scheme: dark) {

	:root {
		--background: #121212;
		--font: #E0E0E0;
	}
}

body {
	background-color: var(--background);
	margin: 0 auto;
	max-width: 650px;
	line-height: 1.4;
	font-size: var(--size1);
	font-family: "Noto Serif", Verdana, sans-serif;
	padding: 0 10px;
}

/* Structure de la page */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	margin: 30px 0;
}

nav a {
	font-size: var(--size2);
}

footer {
	margin: 40px 0 20px 0;
	text-align: center;
}

footer p {
	font-size: var(--size0);
	text-align: center;
}

footer a {
	padding: 0;
	text-align: center;
}

/* Gemini supported */

a {
	display: block;
	margin: 20px 0;
	padding-left: 2rem;
	text-decoration: underline;
	color: var(--font);
}

a:hover {
	text-decoration: none;
	color: var(--font);
}

h1 {
	font-size: var(--size4);
	text-align: center;
	margin: 20px 0;
}

h2 {
	font-size: var(--size3);
	margin: 40px 0 30px 0;
	border-bottom: 1px solid var(--font);
}

h3 {
	font-size: var(--size2);
	margin: 40px 0 20px 0;
}

strong {
	font-weight: bolder;
}

em {
	font-style: italic;
}

p {
	text-align: justify;
	margin: 20px 0;
}

blockquote {
	padding: 0 30px;
	margin: 20px 0;
	text-align: justify;
	border-left: 7px solid var(--font);
}

pre {
	width: 1em;
}

/* Email obfuscation */

span.obfuscation {
	display: none;
}

/* Fonctions additionnelles */

hr {
	margin: 20px 0;
	border-bottom: 1px solid var(--font);
}

figure {
	margin: 40px 0 20px 0;
}

img {
	margin: 10px auto;
	display: block;
	width: 100%;
	border-radius: 10px;
}

figcaption {
	text-align: center;
	font-size: var(--size0);
	margin: 10px 0;
}

time {
	display: block;
	font-style: italic;
	margin: 20px 0;
}

details {
	border: 1px solid var(--font);
	border-radius: 10px;
	padding: 10px;
	margin: 20px 0;
}
  
summary {
	font-weight: bold;
} 

iframe {
	border: 1px solid var(--font);
	border-radius: 10px;
	margin: 20px auto;
}

/* Impression */

@media print {
	nav {
		display: none;
	}
}

/* Smartphone */

@media screen and (max-width: 500px) {

	nav {
		display: block;
		margin: 0;
		position: static;
	}

	nav a {
		font-size: var(--size2);
	}

	nav a:hover{
		text-decoration: none;
	}

	a {
		display: block;
		width: 100%;
		padding: 5px 0;
		text-align: center;
		border: 1px solid var(--font);
		border-radius: 10px;
	}

	footer a {
		padding: 5px 0;
	}
}
